:root {
    --icolor-primary: #296ca6;
    --swiper-pagination-bullet-size: 12px;
    --transition: all 0.3s ease;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'PingFang TC', 'Heiti TC', 'Arial', sans-serif;
}

input[type="file"],
input[type="text"],
input[type="password"],
input[type="datetime-local"],
input[type="date"],
input[type="time"],
input[type="color"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
select,
button,
button.btn,
a.btn {
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'PingFang TC', 'Heiti TC', 'Arial', sans-serif;
}

body.iweb {
    background: var(--icolor-lightgray);
}

body.iweb > div.iweb-viewer {
    background: var(--icolor-white);
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
}

hr.line-break {
    position: relative;
    border: 0px;
    border-top: 2px dotted var(--icolor-lightgray);
    margin-top: 20px;
    margin-bottom: 20px;
}

header.page-header {
    position: fixed;
    background: var(--icolor-white);
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 12;
}

body.iweb-disable-scroll header.page-header {
    right: 17px;
}

body.iweb-mobile header.page-header {
    right: 0px!important;
}

header.page-header > div {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

header.page-header a.logo {
    position: relative;
    display: block;
    float: left;
    height: 60px;
}

a.whatsapplink {
    position: absolute;
    background-color: rgb(37, 211, 102);
    right: -10px;
    top: 50%;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: -16px;
    white-space: nowrap;
}

a.whatsapplink > i {
    font-size: 1.25rem;
    color: #fff;
    vertical-align: middle;
}

a.whatsapplink > span {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
}

main {
    position: relative;
    padding-top: 80px;
}

footer.page-footer {
    position: relative;
    background: var(--icolor-lightgray);
    padding: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-top: 2px solid var(--icolor-lightgray);
}

footer.page-footer > div {
    position: relative;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

footer.page-footer > div.copyright > div {
    padding-top: 20px;
    border-top: 1px solid var(--icolor-gray);
}

div.iweb-editor table.borderless {
    border: 0px;
}

div.iweb-editor table th,
div.iweb-editor table td {
    vertical-align: top;
}

div.iweb-editor table.borderless th,
div.iweb-editor table.borderless td {
    border: 0px;
}

div.iweb-editor table.iweb-table {
    width: 100%;
}

div.iweb-editor table.iweb-table th,
div.iweb-editor table.iweb-table td {
    padding: 8px;
    border: 1px solid var(--icolor-gray);
    text-align: left;
    word-break: break-all;
    overflow: hidden;
}

div.iweb-editor table.iweb-table.borderless th,
div.iweb-editor table.iweb-table.borderless td {
    padding: 0px;
    border: 0px dotted var(--icolor-gray);
}

div.iweb-editor table.iweb-table.responsive.borderless td > div {
    padding: 0px;
}

@media only screen and (max-width: 900px) {
    main.page-body > div.inner-content h1.ptitle  {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 600px) {
    header.page-header a.logo {
        height: 30px;
    }
    
    main {
        padding-top: 50px;
    }
    
    main.page-body > div.inner-content h1.ptitle  {
        font-size: 1.5rem;
    }
}